svg {
  font: 10px sans-serif;
}


.line1{
	fill: none;
	stroke: black;
	stroke-width: 2px;
}
.line2{
	fill: none;
	stroke: brown;
	stroke-width: 2px;
	
}
.line3{
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
	
}

.axis path,
.axis line{
	fill:none;
	stroke:black;
	shape-rendering: crispEdges;

}
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
#d2{
  margin: 1em auto  1em auto;
  width: 1200px;
}

#d1{
  margin: 1em auto  1em auto;
  width: 600px;
}