svg {
  font: 10px sans-serif;
}


.line1{
	fill: none;
	stroke: black;
	stroke-width: 2px;
}
.line2{
	fill: none;
	stroke: brown;
	stroke-width: 2px;
	
}
.line3{
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
	
}

.axis path,
.axis line{
	fill:none;
	stroke:black;
	shape-rendering: crispEdges;

}
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
body{
  margin: 1em auto  1em auto;
  width: 600px;
}
.submitButton{
  position: absolute;
  top: 580px;
  left: 900px;
  height: 35px;
  width: 75px;
  background-color: #4CAF50;
  border-radius: 8px;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  outline:none;
}
.submitButton:hover{
  background-color: #3e8e41;
}
.submitButton:active{
  background-color: #3e8e41;
  transform: translateY(4px);
}
